@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

.logo h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/Hero-bg.jpg') no-repeat center center;
    opacity: 0.5;
}